<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AlliedAdapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IFileManagerService" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
				<binding name="BasicHttpsBinding_IFileManagerService">
					<security mode="Transport" />
				</binding>
				<binding name="BasicHttpsBinding_IService1">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
 
	<appSettings>
		
		<!--Api's Base Url-->
		
		<add key="MyPdaUrl" value="https://rda-uat.abl.com.pk/" />
	
		<!--Production URl's-->
		<add key="T24Url" value="http://10.133.40.21:7891/" />
		<add key="IrisUrl" value="http://10.1.0.82:80/" />
		
		
		<!--Customer Verification-->
		<add key="CustomerVerification" value="Services/ABLCustomerVerification" />		
		<!--Biometric Verification-->
		<add key="BiometricVerification" value="http://10.133.40.22:7802/ATMMSGSetSOAP_HTTP_Service" />
		<!--Customer Account List-->
		<add key="ABLCustomerAccountList" value="Services/ABLCustomerAccountList" />
		<!--Debit Card Charges-->
		<add key="DebitCardCharges" value="Services/ABLDebitCardCharges" />		
		<!--ABL Debit Card Issuance-->
		<add key="ABLDebitCardIssuance" value="Services/ABLDebitCardIssuance" />		
		<!--ABL Atm Flag Update-->
		<add key="ABLAtmFlagUpdate" value="Services/ABL_ATM_FLAG_UPDATE" />		
		<!--ABL Debit Card Issuance-->
		<add key="IRISExistingCardList" value="wsABLCARDSTATUSCHANGE/wsABLCARDSTATUSCHANGE.asmx" />
		<!--IRIS Card Issaunce-->
		<add key="IRISCardIssuance" value="WSInstantCardForKiosk/InstantCard.asmx" />	
		<!--Send OTP-->		
		<add key="SendOtp" value="http://192.168.51.13:8080/smpp_ws/smpp_ws_sendsms" />
		  
		
		<!--Send Otp MyPda-->
		<add key="SendOtpPda" value="RdaConsumer/api/consumer/public/view-apps-generate-otp" />	
		<!--Update Application-->
		<add key="UpdateApplication" value="RdaConsumer/api/consumer/public/update-account" />
		<!--Verify Otp-->
		<add key="VerifyOtp" value="RdaConsumer/api/consumer/public/get-drafted-apps-verify-otp" />
		<!--Get Customer From Nadra-->
		<add key="GetCustomerFromNadra" value="RdaConsumer/api/consumer/register-verify-otp" />
		<!--Customer Basic Info-->
		<add key="CustomerBasicInfo" value="RdaConsumer/api/consumer/register-consumer-basic-info" />
		<!--Customer Account Info-->
		<add key="CustomerAccountInfo" value="RdaConsumer/api/consumer/register-consumer-account-info" />		
		<!--Customer Current Address-->
		<add key="CurrentAddress" value="RdaConsumer/api/consumer/register-consumer-address" />		
		<!--Save Kyc-->
		<add key="SaveKyc" value="RdaConsumer/api/consumer/save-kyc" />
		<!--Update Kyc-->
		<add key="UpdateKyc" value="RdaHelpDesk/api/support/update-kyc" />
		<!--Authorizer Kyc-->
		<add key="AuthorizerKyc" value="RdaHelpDesk/api/support/authorizer-kyc" />
		<!--Customer Profile Status-->
		<add key="CustomerProfileStatus" value="RdaConsumer/api/consumer/consumer-profile-update-status" />
		<!--Screening-->
		<add key="Screening" value="RdaHelpDesk/api/support/screening" />	
		<!--Liveliness-->
		<add key="Liveliness" value="RdaConsumer/api/consumer/liveliness" />
		<!--List Of Variant-->
		<add key="ListOfVariant" value="RdaConsumer/api/common/public/lookup/code" />
		<!--Town Tehsil List-->
		<add key="TownTehsilList" value="RdaConsumer/api/common/getALlTehsilDistrictName" />	
		<!--Branch List-->
		<add key="BranchList" value="RdaConsumer/api/common/public/lookup/city/branch" />
		<!--Account Variant List-->
		<add key="AccountVariantList" value="RdaConsumer/api/common/public/lookup/accounts" />

		
		<!--Card Image URL-->
		<add key="CardImageBaseUrl" value="https://ssk-app-prod/CEM/CardImages/" />

		<!--Terms And Condition-->
		<add key="tncurl" value="https://ssk-app-prod/CEM/Documents/TermsCondition.pdf" />
		<add key="AsaanDigitalAccountConventional" value="https://ssk-app-prod/CEM/AsanAccountDocuments/AsaanDigitalAccountConventional.pdf"/>
		<add key="AsaanDigitalAccountIslamic" value="https://ssk-app-prod/CEM/AsanAccountDocuments/AsaanDigitalAccountIslamic.pdf"/>
		<add key="AsaanDigitalRemittanceAccountConventional" value="https://ssk-app-prod/CEM/AsanAccountDocuments/AsaanDigitalRemittanceAccountConventional.pdf"/>
		<add key="AsaanDigitalRemittanceAccountIslamic" value="https://ssk-app-prod/CEM/AsanAccountDocuments/AsaanDigitalRemittanceAccountIslamic.pdf"/>
		<add key="Declaration" value="https://ssk-app-prod/CEM/AsanAccountDocuments/Declaration.pdf"/>
		<add key="DeclarationUrdu" value="https://ssk-app-prod/CEM/AsanAccountDocuments/DeclarationUrdu.pdf"/>
		<add key="TnCEnglish" value="https://ssk-app-prod/CEM/AsanAccountDocuments/TnCEnglish.pdf"/>
		<add key="TnCUrdu" value="https://ssk-app-prod/CEM/AsanAccountDocuments/TnCUrdu.pdf"/>
		<!--Terms And Condition End-->

		<!--Decrypt Embossing File-->
		<add key="passphrase" value="iris@abl.com.pk"/>
		<add key="privateKey" value="C:\\CommonFiles\\FileStorage\\GnuPG\\key.asc"/> 
		<add key="DecryptedFilePath" value="C:\\CommonFiles\\FileStorage\\CardDecryptFile\\"/>
		<add key="CardBaesUrl" value="\\\\10.136.0.3\\InstantCardExportFiles\\"/>
		<add key="VSMCardBaesUrl" value="C:\\CommonFiles\\FileStorage\\CardFiles\\"/>
		<add key="DraftedCardFiles" value="C:\\CommonFiles\FileStorage\\DraftedCardFiles\\"/>
		<!--Decrypt Embossing File End-->
		
		<!--Excel File Path-->
		<add key="ExcelFilePath" value="C:\\inetpub\\wwwroot\\CEM\\Excel\\Account Mapping with Card.xlsx"/>
		<!--Excel File Path End-->	
				
		<!--PC Name & Branch Code-->
		<!--<add key="5" value="WINDOWS-CV06OD2|0010" />-->
		<!--<add key="6" value="WINDOWS-94F7U44|0020" />-->
		<!--<add key="7" value="WINDOWS-94F7U44|0030" />-->
		<add key="8" value="WINDOWS-94F7U44|0050" />

		
	
	</appSettings>
  
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
 <applicationSettings>
  <AlliedAdapter.Properties.Settings>
   <setting name="AlliedAdapter_WebReference_InstantCard" serializeAs="String">
    <value>https://irisprodwebsuiteclone.abl.com.pk/WSInstantCard/InstantCard.asmx</value>
   </setting>
   <setting name="AlliedAdapter_WebReference1_InstantCard" serializeAs="String">
    <value>https://irisprodwebsuiteclone.abl.com.pk/WSInstantCard/InstantCard.asmx</value>
   </setting>
   <setting name="AlliedAdapter_BioService_ATMMSGSetSOAP_HTTP_Service" serializeAs="String">
    <value>http://10.224.20.27:7815/ATMMSGSetSOAP_HTTP_Service</value>
   </setting>
   <setting name="AlliedAdapter_CardListing_wsABLCARDSTATUSCHANGE" serializeAs="String">
    <value>http://10.136.0.3/wsABLCARDSTATUSCHANGE/wsABLCARDSTATUSCHANGE.asmx</value>
   </setting>
   <setting name="AlliedAdapter_AlliedSMSService_smpp_ws_sendsms" serializeAs="String">
    <value>http://10.224.20.27:7823/smpp_ws/smpp_ws_sendsms</value>
   </setting>
  </AlliedAdapter.Properties.Settings>
 </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
     
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>




